canvas
{
    border: dashed black 3px;
    animation-name: cool_color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes cool_color
{
    from
    {
        box-shadow: 1px 1px 30px rgb(0, 162, 255);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(156, 0, 173);
    }
}

img
{
    height: 100%;
    width: 100%;
}
  